.pageLayout {
  /* background-color: #F5EBE0; */
  background-image: url(images/birmingham-museums-trust-4lDX-xTLl3Q-unsplash.jpg);
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 30px;
  padding-bottom: 200px;
  min-height: 100vh;
}

.pageLayout button:hover{
  /* background-color: #b6b0a9; */background-color: #4d6753;
  color: white;
}

h1 {
  color: #555B6E;
}
#date{
  align-content : right;
}
.boxtitle{
  background-color : #FFFFFF;
  border-radius : 10px;
  padding: 10px;
}
.boxactivity{
  margin-top: 20px;
  background-color : #D5BDAF;
  border-radius : 10px;
  padding: 10px;
}
.textheader{
  font-family: "Roboto", sans-serif;
}

.progress{
  font-size: 20px; 
}

.test{
  padding-right: 50%;
  padding-left: 50%;
}

.pageLayout button{
  background-color: #bac2ab;
  color: #4d6753;
  font-weight: bold;
}

