
.navigation {
    position: sticky;
    top: 0px;
    z-index: 1110;
}

.navigation button{
    margin: 5px;
    background-color: #bac2ab;
    color: #4d6753;
    font-weight: bold;
    text-transform: uppercase;
}
.navigation button:hover{
    background-color: #4d6753;
    color: white;
}

